/* Tag defaults */
body,
html {
	font-family: sans-serif;
  height:100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600
}

a {
	color: #292b2c;
	outline:0 !important;	
}

hr {
	opacity: 0.4
}

/* Brand */


.custom-logo-link {
	width:150px;	
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}


/* Main content */

#content article {
  margin: 40px 0
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}
.page-header {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
  padding: 10px 14px;
}
/* Sidebar */

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/* Site footer */

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}


/* Media Queries */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}
